@media only screen and (max-width: 600px) { 
#rob-header-picture {
width: 100%;
height: auto;
}
}

#rob-header-picture {
  width: 800px;}

    
#imgC {
    padding: 10px;
    max-width: 400px;
    max-height: 400px;
  }
  @media only screen and (max-width: 600px){
   #imgC {
    width: 100%;
    height: auto;
  }
  }
  
  @media only screen and (max-width: 600px) {
    #imgH2 {
    width: 100%;
    height: auto;}
  }
  
  #unimate {
    width: 800px;}
  
    @media only screen and (max-width: 600px){
    #unimate {width: 100%;
    height: auto;
    }
    }

p {
  font-family: "Lucida Console";
  font-size: 20px;
  padding: 15px;
}

#robH2 {
  font-family: "Lucida Console";
  font-size: 50px;
  font-weight: bold;
}

h3 {
  font-family: "Lucida Console";
  font-size: 25px;
  font-weight: bold;
}