
/*Général*/
  @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Staatliches&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Croissant+One&display=swap');

  * {
    font-family: 'Courgette';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*En tête du site*/

.titleAnim {  
  font-family: 'Croissant One';
  font-size: 15vw;
  text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);          
    
               
}
#target {  
  position: absolute;
  display: flex;
  margin: auto;
  top: auto;
}
body.index {
  background-color: #F0FFFF;
}
  

#description {
    padding: 0% 10% 0% 5%;
    font-size: 3vh;
    text-shadow: 2px 2px black, 2px 2px black, 2px 2px black, 2px 2px black;
    text-transform: uppercase;
    text-align: center;
}


  .navbar {
    display: flex;
  }  

  .nav-menu {
    z-index: 1000;
    opacity: 75%; 
    height: auto;
    position: fixed;
    bottom: -50rem;  
    width: 100%;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }


  .hamburger {
    z-index: 2000;
    display: flex;
    justify-content: space-around;
    opacity: 75%;
    height: 50px;
    width: 100%;  
    position: fixed;
    bottom: 0;
    margin-left: auto ;
    cursor: pointer;  
  }

  .logo-navbar {
    opacity: 100%;  
  }
  .bar {
    display: flex;
    justify-content: space-between;
    width: 50px;
    height: 9px;
    margin: 5px auto;
    -webkit-transition: #4080d4.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
  }
 
  .logo-contact {
    background-image: url("./assets/lettre.png");
  }
  .nav-menu.active {
    bottom: 50px;
  }



  /*Image d'accueil*/
    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 35vh;
      color: white;
      background: linear-gradient(to bottom, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%), url("assets/header.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      font-size: 8vw;
      
    }
    
    #grosTitre {
      perspective: 9999px;
      transform-style: preserve-3d;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
  /*Articles*/
    a {
      text-decoration: none;
      font-weight: bold;
      color: black;
      font-family: Courgette;
    }

    h1 {
      text-align: center;
      font-size: 1em;
      padding: 20px 4%;
    }

/*Pages Web*/




/*Articles Accueil*/

  article.index {
    background-size: 100% 100%;
    width: 70%;
    height: 25vh;
    text-align: center;
    margin: 5%;
    display: flex;
    font-family: 'Croissant One', cursive;
    border: 4px solid rgba(124, 0, 155, 1);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px 4px rgba(124, 0, 155, 0.5);
  }

  
  a.indexArticle {
     font-size: 8vw;
    text-decoration: none;
    /* color: #CFC547; */
    color: #fff;
    display : flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* text-shadow: 10px 10px 25px rgb(81,67,21),
    -10px 10px 25px rgb(81,67,21),
    -10px -10px 25px rgb(81,67,21),
    10px -10px 25px rgb(81,67,21); */
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgba(124, 0, 155, 1),
    0 0 82px rgba(124, 0, 155, 1),
    0 0 92px rgba(124, 0, 155, 1),
    0 0 102px rgba(124, 0, 155, 1),
    0 0 151px rgba(124, 0, 155, 1);

   


  }
  
  


  #dev-web {
    background-image: url("./assets/dessin web.jpg");
  }

  #video-games {
    background-image: url("./assets/gamecontroler.jpg");
  }

  #software {
    background-image: url("./assets/coding.jpg");
  }

  #robotic {
    background-image: url("./assets/robot.jpeg");
  }

  #ai {
    background-image: url("./assets/ai.jpg");
  }

  #blockchain {
    background-image: url("./assets/blockchaintheme.jpg");
  }

  .indexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0 10% 0;
    
  }


  h3 {
    text-align: center;
    font-size: 25px; 
    padding: 40px 4%;
    color: #ffffff;
  }

  h2 {
    text-align: center;
    padding: 20px 4%;
    font-size: 30px;
    font-family: 'Croissant One', cursive;
  }

.parallax {
  width: 100%;
  height: 150px;
  background: url(assets/imgparallax.jpg);
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h3 {
  text-align: center;
  font-size: 35px;
  padding: 40px 4%;
  color: #ffffff;
}


.text-article {
  font-size: 18px;
  text-align: left;
  font-family: 'Courgette', cursive;

}

.suite-article {
    text-decoration: none;
    font-size: 20px;
    padding-left: 20%;
}

#suite-articlecolorC {
  color: #3ec6d8;
}
#suite-articlecolorPython {
  color: #3ec6d8;
}

/*Pages Web*/

.header-picture {
  width: 95%;
}
.logo-contact {
  background-image: url("./assets/lettre.png");
}
.nav-menu.active {

  bottom: 50px;
}
.nav-item {  
  margin: 1rem 0;
}

.politics {
    text-align: center;
}
.contactUs {
  color: black;
  padding: 30px;
  font-size: 40px;
  text-decoration: underline;
}

.nav-menu {
  opacity: 90%; 
  height: auto;
  position: fixed;
  bottom: -50rem;  
  width: 100%;
  text-align: center;
  transition: 0.5s;
  box-shadow:
    0 10px 27px rgba(0, 0, 0, 0.05);
}


.hamburger {
  display: flex;
  justify-content: space-around;
  opacity: 90%;
  height: 50px;
  width: 100%;  
  position: fixed;
  bottom: 0;
  margin-left: auto ;
  /* cursor: pointer;   */
}


.logo-navbar {
  opacity: 100%;  
}


.logo-contact {
  background-image: url("./assets/lettre.png");
}
.nav-menu.active {
  bottom: 50px;
}

.nav-item {  
  margin: 1rem 0;
}

li {
    list-style-type: none;
}
li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
li a:hover {
    color: rgb(255, 255, 255);
}

/*---------------------------Pages Web----------------------*/

#webHeader {
    color: aliceblue;
    width: 100%;
    height: 500px;
    background-image: url("assets/PHOTO-web.jpeg");
    background-size: cover;
    background-position: center;
}
#webImg {
    width: 100%;
    padding: 15px;
}
@media only screen and (min-width: 600px) {
    #webImg {
        width: 800px;
    }
}
#webImg2 {
    max-height: 660px;
    max-width: 550px;
}
.webLink {
    font-size: 15px;
    color: black;
}
/* ---------------------------------page video games ------------------------------------ */
.gamesParallax {
  width: 100%;
  height: 150px;
  background: url(assets/imgparallax.jpg);
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gamesContainer {
  padding: 0 1%;
  margin-bottom: 55px;
}
.headergame{
  text-align: center;
}
.gamesMajortitle {
  font-size: 20px;
  text-align: center;
  padding: 40px;
}
.gamesBlocarticle{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4% 0;
}
.gameImg {
  width: 250px;
}
.gamesSuiteArticle {
  font-size: 18px;
}
.gamesArticle {
  text-align: justify;
  width: 90%;
  padding: 6% 0;
}
.gamesTextArticle {
  font-family: 'Courgette', cursive;
  font-size: 16px;
}
.gamesExampleLegende {
  font-size: 14px;
  text-align: center;
}
.gamesBackgroundArticle {
  background-color: #3ec6d8;
}
.gamesSuiteArticleColor {
  color: #3ec6d8;
}

@media screen and (min-width: 768px) and (max-width:1200px) {

  .titleAnim {
    font-size: 5vw;
  }
  #grosTitre {
    justify-content: flex-start;
  }
  .header {
    height: 60vh;
  }
  .gameImg {
    width: 300px;
  }
  .gamesLogoLangage {
      width: 300px;
      height: 300px;
  }
  .gamesExample{
    margin: 10px 10px 0 10px;
    text-align: center;
  }
  .gamesArticle {
      text-align: justify;
      width: 80%;
      padding: 6% 0;
  }
  .gamesSuiteArticle {
    font-size: 20px;
  }
  .gamesExampleLegende {
    font-size: 16px;
  }
  .header-picture {
    width: 75%;
    height: 500px;
  }
  h2 {
    font-size: 40px;
    padding: 4% 0;
  }
  .gamesMajortitle {
    font-size: 30px;
  }
  .gameImg {
    width: 500px;
  }
}

@media screen and (min-width: 800px) {
  .gamesContainer {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 1200px) {

  .titleAnim {
    font-size: 5vw;
  }

  .soft-intro {
    
    width: 70%;
    
  }
 
  .softTextArticle {
    margin: auto;
    width: 70%;
  }

  #grosTitre {
    justify-content: flex-start;
  }
  
  .header {
    height: 60vh;
  }

  .header-picture {
    width: 60%;
    height: 600px;
  }
  h2 {
    font-size: 50px;
    padding: 6% 0;
  }
  h3 {
    font-size: 50px;
  }
  .gamesmajortitle {
    padding: 8% 4%;
    font-size: 35px;
  }
  .gamesParallax {
    height: 300px;
  }
  .gamesBlocarticle{
    display: flex;
    flex-direction: row;
    align-items: center;
  } 
  .gameImg {
      width: 500px;
  }
  .gamesLogoLangage {
      width: 300px;
      height: 300px;
  }
  .gamesExamplecPlusPlus{
    margin: 10px 10px 0 10px;
  }
  .gamesArticle {
      text-align: justify;
      width: 70%;
      padding: 0 4%;
  }
}
@media screen and (min-width: 1400px) {
  .gamesTextArticle {
    font-size: 19px;
  }
}

/*Contact*/
form {
    margin: 0 auto;
    width: 100%;
    padding-top: 20px;
}
label {
    line-height: 2;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    height: 30px;
}
input[type="submit"] {
    background: rgb(71, 180, 199);
    color: white;
    border: none;
    padding: 5px 10px;
    width: 70px;
    height: 30px;
}
#message {
    height: 120px;
}
/* ---------------------------------page software ---------------------------------- */

.softTextArticle {
  padding: 1%;
  font-size: 16px;
}
.softArticle {
  text-align: justify;
  width: 90%;
  padding: 5% 0;
}

#softBloc {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1% 0;
}

.software-header {
  height: 400px;
  color: white;
  position: relative;
  z-index: 5;
  background-image: url("./assets/coding.jpg");
  background-size: cover;
}

.software-header {
  height: 400px;
}

.header-software {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50vh;

  color: white;
  position: relative;
  z-index: 5;
  background-image: url("./assets/coding.jpg");
  background-size: cover;
}

.soft-header-title {
  color: white;
  padding: 10%;
}

.soft-title {
  margin: auto;
  width: 70%;
  padding: 2%;
 color: rgb(0, 0, 0);
}

.soft-container {
  flex-direction: row;
  align-items:baseline;
  flex-wrap: wrap;
  display: flex;
  background-color: rgb(255, 255, 255);
}

.soft-article {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4% 0;
}
.soft-intro {
  margin: auto;
  width: 90%;
  padding: 20px;
}
.soft-pict {
  margin: 0 5% 0 5%;
  padding: 1%;
}
.softH4 {
  padding: 10px;
}
.header-software {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50vh;
  color: white;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;  
}
.separation {
  display: block;
    height: 2px;
    background-color: black;
    width: 100%;
    z-index: 1000;
}
.container {
  padding: 10px 10px;
}
.header {
    font-size: 2rem;
}

.intro {
    text-align: center;
}

h2 {
    margin: 20px;
}
.slider {
    width: 500px;
    overflow: hidden;
    margin: 100px auto;
}
.slides {
    width: calc(500px * 3);
    animation: glisse 8s infinite;
}
.slide {
    float: left;
}
@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-500px);
    }
    40% {
        transform: translateX(-500px);
    }
    66% {
        transform: translateX(-1000px);
    }
    70% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}


@media screen and (min-width: 768px) {

  .indexContainer {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }

  article.index {
    width: 40%;
    height: 40vh;
  }

  a.indexArticle {
    font-size: 5vw;
  }
}
 
@media screen and (min-width: 800px) {
   .container {

    font-size: 2rem;
  }
  .article {
    padding: 20px;
    margin: 10px 10px 10px 10px;
    max-width: 90%;
    transition: 0.5s;
    max-width: 75%; 
  }
    .hamburger {
    top: 0;
    bottom: none;
  }
  .nav-menu.active {
    top: 50px;
    bottom: auto;    
  }
 
  .hamburger {
    top: 0;
    bottom: none;
  }
  .nav-menu.active {
    top: 50px;
    bottom: auto;    
  }
}
/* ---------------b-pink---------------------- */

.b-pink,
.b-pink:before {
    background: rgba(0, 4, 255, 1);
    background: -moz-linear-gradient( 45deg, rgba(0, 4, 255, 1) 0%, rgba(124, 0, 155, 1) 100%);
    background: -webkit-gradient( left bottom, right top, color-stop(0%, rgba(0, 4, 255, 1)), color-stop(100%, rgba(124, 0, 155, 1)));
    background: -webkit-linear-gradient( 45deg, rgba(0, 4, 255, 1) 0%, rgba(124, 0, 155, 1) 100%);
    background: -o-linear-gradient( 45deg, rgba(0, 4, 255, 1) 0%, rgba(124, 0, 155, 1) 100%);
    background: -ms-linear-gradient( 45deg, rgba(0, 4, 255, 1) 0%, rgba(124, 0, 155, 1) 100%);
    background: linear-gradient( 45deg, rgba(0, 4, 255, 1) 0%, rgba(124, 0, 155, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e748ea', endColorstr='#4b1abc', GradientType=1);
}

/* ----------------------------------------------- */

#contact {
    padding: 30px;
    margin-bottom: 10%;
}

@media screen and (min-width: 800px) {
  #contactForm {
    width: 400px;
}
/*----------------------- Page AI ------------------------*/

#aiHeader {
  text-align: center;
  color: rgb(14, 15, 15);
  width: 55%;
  height: 500px ;
  /* flex-direction: column; */
}

#aiPicHeader {
  border-radius: 10px;
  display: flex;
  width: 800px;
}

.aiContainer {
  box-sizing: border-box;

}




.aiH3 {
    font-size: 35px;
    text-align: center;
    margin: 40px;
    padding: 15px;
    color: black;
}

.aiH4 {
  font-size: 20px;
  text-align: left;
  font-family: 'Courgette', cursive;
}
span {
    font-size: 17px;
    font-weight: bold;
}
a {
    font-size: 25px;
}

#aiPic1 {
  width: 700px;
  height: 350px;
}

#aiPic2 {
  border-radius: 10px;
  height: 350px;
  width: 40%;
  padding: 15px;
 
}

.aiLink {
  text-align: center;
  font-size: 17px;
  color: #0a0a88;
}

#aiVideo {
  flex-direction: column;
  display: flex;
  align-items: center;

}
#aiH3Vid {
  font-size: 30px;
  color: black;
  padding: 30px;
}

.aiBlocarticle {
  display: flex;
  align-items: center;
}

.aiArticle {
  font-size: 17px;
  text-align: justify;
  width: 80%;
  padding: 5px;
}


#aiHeader {
  color: rgb(14, 15, 15);
  height: 500px;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .aiBlocarticle {
    flex-direction: column;
  }

  #aiPic2 {
    width: 60%;
    height: 350px;
  }

  #aiPic1 {
    padding: 10px;
    border-radius: 10px;
    width: 700px;
    height: 350px;
  }

}

@media only screen and (max-width: 768px) {
 
  .aiBlocarticle {
    flex-direction: column;
  }

  #aiPic2 {
    width: 60%;
    height: 200px;
  }

  #aiPic1 {
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    height: 250px;
  }

}

.blockchaintitle {
  text-align: center;
  font-size: 25px; 
  padding: 40px 4%;
  color: black;
}

.money {
  width: 100%;
  height: 150px;
  background: url(assets/money.jpg);
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.moneytitle {
  font-size: 30px;
  color: white;
  text-align: center;
}


.roboticParallax {
  width: 100%;
  height: 150px;
  background: url(assets/robotParallax.jpg);
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.webDevParallax {
  width: 100%;
  height: 150px;
  background: url(assets/webDevParallax.jpg);
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.webDevParallax2 {
  width: 100%;
  height: 150px;
  background: url(assets/encoreUnParallax.jpg);
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}